.env
.venv/
__pycache__/

# dbt artefacts
banking_dbt/target/
banking_dbt/dbt_packages/
banking_dbt/logs/

# Local infra data
docker/minio/data/
docker/postgres/data/
docker/logs/

banking-modern-datasatck_update/
banking-modern-datasatck/